{% extends 'base.html' %}

{% block title %}Are you sure? - {% endblock %}

{% block content %}
<div class="subcontainer sc_full">
    <div class="subcontainer_h">
        {% if project %}
            Are you sure you want to delete "{{ project }}"?
        {% else %}
            Are you sure you want to delete your profile?
        {% endif %}
    </div>
    <div class="subcontainer_c center">
        <p>
        {% if project %}
            Deleting this project will delete all subprojects as well. If you
            are not the sole owner of this project, the other owners will have
            7 days to abort the deletion.
        {% else %}
            Deleting your profile will delete all projects solely owned by you.
            You will have 7 days to abort the deletion.
        {% endif %}
        </p>
        <p>
        <form action="." method="POST">
        {% csrf_token %}
        <input type="submit" name="delete" class="red" value="I am sure"/>
        </form>
        </p>
    </div>
</div>
{% endblock %}

