{% extends 'base.html' %}

{% block title %}Edit Languages - {% endblock %}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Edit Languages
    </div>
    <div class="subcontainer_c center">
        <form action="." method="POST">
            {% csrf_token %}
            <table>
            {% for f in form.forms %}
                <tr class="form_container">
                {{ f.id }}
                <td>{{ f.lang }}</td>
                <td>{{ f.level }}</td>
                <td>{{ f.delete }} Delete</td>
                </tr>
            {% endfor %}
            {{ form.management_form }}
            </table>
            <input type="submit" value="Save" />
        </form>
    </div>
    <script type="text/javascript">
        $(function() {
            $('.form_container').formset({deleteText: ''});
        })
    </script>
    </div>
{% endblock %}

