{% extends 'base.html' %}

{% block title %}Edit Profile - {% endblock %}

{% block content %}
    <div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Edit Profile
    </div>
    <div class="subcontainer_c">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            <tr><td></td><td><input type="submit" value="Save" /></td></tr>
            </table>
        </form>
    </div>
    </div>
    <div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Delete Profile
    </div>
    <div class="subcontainer_c center">
        <p>
        If you click this button, there will be a another confirmation page.
        </p>
        <p>
        <form action="{% url 'projects:delete_profile' user.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="red" value="Delete Profile" />
        </form>
        </p>
    </div>
    </div>
{% endblock %}

