{% extends 'base.html' %}

{% block title %}Edit Profile - {% endblock %}

{% block content %}
    <div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Edit Profile
    </div>
    <div class="subcontainer_c">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="Save" />
        </form>
        <hr />
        <p>
        <a href="{% url 'projects:delete_profile' user.pk %}">Delete Profile</a>
        </p>
    </div>
{% endblock %}

