{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Welcome
    </div>
    <div class="subcontainer_c">
        <div class="half" style="float: left">
            <p>Peerwire is a platform for collaborative work on projects,
            wether you are starting a project and need qualified people
            or are looking for work on someone's project.</p>
            <p>Click <a href="{% url 'projects:about_us' %}">here</a> to learn more.</p>
        </div>
        <div class="half" style="float: right">
        <p>
            <form method="GET" action="{% url 'projects:start_project' %}">
                <input type="submit" value="Start a new project" style="margin-right: 5px" />
            </form>
            <p>or search for existing ones</p>
        <form method="GET" action="{% url 'haystack:haystack_search' %}">
            <input type="text" name="q" placeholder="Search" style="width: calc(100% - 55px)" />
            <input type="submit" value="Go" style="width: 50px" /> </form>
        </p>
        </div>
    </div>
</div>
<div class="subcontainer sc_small right">
    <div class="subcontainer_h">
        News
    </div>
    <div class="subcontainer_c">
        <ol>
        {% for post in news %}
            <li><a href="{% url 'news:newspage' post.id %}">{{ post.title }}</a></li>
        {% empty %}
            No News
        {% endfor %}
        </ol>
    </div>
</div>
{% if request.user.is_authenticated %}
    <div class="subcontainer sc_large left">
        <div class="subcontainer_h">
            Recommended projects
        </div>
        <div class="subcontainer_c">
            <ol>
            {% for project in recommended %}
                <li><a href="{% url 'projects:projectpage' project.id %}">{{ project }}</a></li>
            {% empty %}
                    No recommended projects
            {% endfor %}
            </ol>
        </div>
    </div>
{% endif %}
<div class="subcontainer sc_large left">
    <div class="subcontainer_h">
        Trending projects
    </div>
    <div class="subcontainer_c">
        <ol>
        {% for project in trending_projects %}
            <li><a href="{% url 'projects:projectpage' project.id %}">{{ project }}</a></li>
        {% empty %}
            No trending projects
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
