{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Search for Projects
    </div>
    <div class="subcontainer_c">
    <form method="get" action="{% url 'haystack:haystack_search' %}">
        <input type="text" name="q" placeholder="Search" style="width: calc(100% - 65px)" />
        <input type="submit" value="Go" style="width: 50px" />
    </div>
</div>
<div class="subcontainer sc_small right">
    <div class="subcontainer_h">
        Get to work
    </div>
    <div class="subcontainer_c">
        <ul>
        <li><a href="{% url 'projects:start_project' %}">Start a new project</a></li>
        </ul>
    </div>
</div>
<div class="subcontainer sc_large left">
    <div class="subcontainer_h">
        Trending projects
    </div>
    <div class="subcontainer_c">
        <ol>
        {% for project in trending_projects %}
            <li><a href="{% url 'projects:projectpage' project.id %}">{{ project }}</a></li>
        {% empty %}
            No trending projects
        {% endfor %}
        </ol>
    </div>
</div>
<div class="subcontainer sc_small right">
    <div class="subcontainer_h">
        News
    </div>
    <div class="subcontainer_c">
        <ol>
        {% for post in news %}
            <li><a href="{% url 'news:newspage' post.id %}">{{ post.title }}</a></li>
        {% empty %}
            No News
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
