{% extends 'base.html' %}
{% load static %}

{% block title %}{{ profile.username }} - {% endblock %}

{% block content %}
    {% if user == profile %}
        <div class="subcontainer sc_small right">
            <div class="subcontainer_h">
                Admin
            </div>
            <div class="subcontainer_c">
            <ul>
                <li><a href="{% url 'projects:edit_profile' %}">Edit Profile</a></li>
                <li><a href="{% url 'projects:edit_langs' %}">Edit Languages</a></li>
                <li><a href="{% url 'projects:edit_skills' %}">Edit Skills</a></li>
            </ul>
            </div>
        </div>
    {% endif %}
    <div class="subcontainer sc_large left">
        <div class="subcontainer_h">
            {% if profile.first_name %}
                {{ profile.get_full_name }}
            {% else %}
                {{ profile.username }}
            {% endif %}
            {% if profile.first_name %}
                ({{ profile.username }})
            {% endif %}
        </div>
        <div class="subcontainer_c pure_li img_width ul_a">
            {% if profile.avatar %}
                <div class="avatar" style="background-image: url({{ profile.avatar.url }})">&nbsp;</div>
            {% else %}
                <div class="avatar" style="background-image: url({% static 'avatar.svg' %})">&nbsp;</div>
            {% endif %}
            {% autoescape off %}
            {{ desc|default:"<p>No description given.</p>" }}
            {% endautoescape %}
            <hr />
            <p>Date joined: {{ profile.date_joined|date:"Y-m-d" }}</p>
        </div>
    </div>
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Languages
        </div>
        <div class="subcontainer_c">
            <ul>
            {% for l in profile.userlang_set.all %}
                <li>{{ l }} ({{ l.level }})</li>
            {% empty %}
                None
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Skills
        </div>
        <div class="subcontainer_c">
            <ul>
            {% for l in profile.userskill_set.all %}
                <li>{{ l }} ({{ l.level }})</li>
            {% empty %}
                None
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Projects owned ({{ profile.projects_owned.count }})
        </div>
        <div class="subcontainer_c">
            <ul>
            {% for p in profile.projects_owned.all %}
                <li><a href="{% url 'projects:projectpage' p.pk %}">{{ p }}</a></li>
            {% empty %}
                None
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Projects working on ({{ profile.projects_workingon.count }})
        </div>
        <div class="subcontainer_c">
            <ul>
            {% for p in profile.projects_workingon.all %}
                <li><a href="{% url 'projects:projectpage' p.pk %}">{{ p }}</a></li>
            {% empty %}
                None
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

