{% extends 'base.html' %}
{% load static %}

{% block title %}{{ profile.username }} - {% endblock %}

{% block content %}
    {% if user == profile %}
        <div class="subcontainer sc_small right">
            <div class="subcontainer_h">
                Admin
            </div>
            <div class="subcontainer_c">
                <li><a href="{% url 'projects:edit_profile' %}">Edit Profile</a></li>
                <li><a href="{% url 'projects:edit_langs' %}">Edit Languages</a></li>
                <li><a href="{% url 'projects:edit_skills' %}">Edit Skills</a></li>
            </div>
        </div>
    {% endif %}
    <div class="subcontainer sc_large left">
        <div class="subcontainer_h">
            {% if profile.first_name %}
                {{ profile.get_full_name }}
            {% else %}
                {{ profile.username }}
            {% endif %}
            {% if profile.first_name %}
                ({{ profile.username }})
            {% endif %}
        </div>
        <div class="subcontainer_c">
            {% if profile.userlink %}
                {% for l in profile.userlink.all %}
                    <a href="{{ l.url }}">{{ l.name }}</a><br>
                {% endfor %}
            {% endif %}
            {{ profile.desc|default:"No description given."|linebreaksbr }}
        </div>
    </div>
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Languages
        </div>
        <div class="subcontainer_c">
            {% for l in profile.userlang_set.all %}
                <li>{{ l }} ({{ l.level }})</li>
            {% empty %}
                None
            {% endfor %}
        </div>
    </div>
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Skills
        </div>
        <div class="subcontainer_c">
            {% for l in profile.userskill_set.all %}
                <li>{{ l }} ({{ l.level }})</li>
            {% empty %}
                None
            {% endfor %}
        </div>
    </div>
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Projects owned ({{ profile.projects_owned.count }})
        </div>
        <div class="subcontainer_c">
            {% for p in profile.projects_owned.all %}
                <li><a href="{% url 'projects:projectpage' p.pk %}">{{ p }}</a></li>
            {% empty %}
                None
            {% endfor %}
        </div>
    </div>
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Projects working on ({{ profile.projects_workingon.count }})
        </div>
        <div class="subcontainer_c">
            {% for p in profile.projects_workingon.all %}
                <li><a href="{% url 'projects:projectpage' p.pk %}">{{ p }}</a></li>
            {% empty %}
                None
            {% endfor %}
        </div>
    </div>
{% endblock %}

