{% extends 'base.html' %}

{% block title %}{{ profile.username }} - {% endblock %}

{% block content %}
    <h1>
    {% if profile.first_name %}
        {{ profile.get_full_name }}
    {% else %}
        {{ profile.username }}
    {% endif %}
    {% if profile.first_name %}
        ({{ profile.username }})
    {% endif %}
    </h1>
    {{ profile.desc }}<br>
    {% if profile.avatar %}
        <img src="" />
    {% endif %}
    {% if profile.workerlink_set %}
        {% for l in profile.workerlink_set.all %}
            <a href="{{ l.url }}">{{ l.name }}</a><br>
        {% endfor %}
    {% endif %}
    {% if profile.workerlang_set %}
        <h2>Languages:</h2>
        {% for l in profile.workerlang_set.all %}
            {{ l }} ({{ l.level }})<br>
        {% endfor %}
    {% endif %}
    {% if profile.workerskill_set %}
        <h2>Skills:</h2>
        {% for l in profile.workerskill_set.all %}
            {{ l }} ({{ l.level }})<br>
        {% endfor %}
    {% endif %}
    {% if profile.projects_owned %}
        <h2>Projects owned ({{ profile.projects_owned.count }}):</h2>
        {% for p in profile.projects_owned.all %}
            {{ p }}<br>
        {% endfor %}
    {% endif %}
    {% if profile.projects_workingon %}
        <h2>Projects working on ({{ profile.projects_workingon.count }}):</h2>
        {% for p in profile.projects_workingon.all %}
            {{ p }}<br>
        {% endfor %}
    {% endif %}
{% endblock %}

