{% extends 'skeleton.html' %}
{% load get_range %}

{% block title %}{{ project }} - {% endblock %}

{% block content %}
<h1>{{ project }}</h1>
{{ project.desc }}
<h2>Project Tree</h2>
{% for pp in project.project_root %}
    / <a href="{% url 'projects:projectpage' pp.pk %}">{{ pp.name }}</a>
{% endfor %}
<br>
{% for sp, indent in project.project_tree.items %}
    {% for i in indent|get_range %}
        &nbsp;
    {% endfor %}
    <a href="{%url 'projects:projectpage' sp.pk %}">{{ sp.name }}</a><br>
{% endfor %}

{% endblock %}
