{% extends 'base.html' %}
{% load get_range %}

{% block title %}{{ project }} - {% endblock %}

{% block content %}
{% if user in project.owners.all %}
    <div class="subcontainer sc_small right">
        <div class="subcontainer_h">
            Admin
        </div>
        <div class="subcontainer_c">
        <ol>
            <li><a href="{% url 'projects:edit_project' project.pk %}">Edit Project</a></li>
            <li><a href="{% url 'projects:manage_users' project.pk %}">Manage workers</a></li>
            <li><a href="{% url 'projects:add_owner' project.pk %}">Add owner</a></li>
            <li><a href="{% url 'projects:start_project' project.pk %}">Start Subproject</a></li>
            {% if project.owners.all.count > 1 %}
                <li><a href="{% url 'projects:owner_resign' project.pk %}">Resign from project</a></li>
            {% endif %}
            <li><a href="{% url 'projects:delete_project' project.pk %}">Delete Project</a></li>
        </ol>
        </div>
    </div>
{% endif %}
<div class="subcontainer sc_large left">
    <div class="subcontainer_h">
        {% for pp in project.project_root %}
            <a href="{% url 'projects:projectpage' pp.pk %}">{{ pp.name }}</a> /
        {% endfor %}
        {{ project.name }}
    </div>
    <div class="subcontainer_c pure_li img_width ul_a">
        {% autoescape off %}{{ desc|default:"<p>No description given.</p>" }}{% endautoescape %}
        <div class="da">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Peerwire Responsive -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5757275602398953"
                 data-ad-slot="1400122950"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        {% if project.langs.exists %}
            <p>Languages used:<br />
            {{ project.langs.all|join:", " }}</p>
        {% endif %}
        {% if project.skills.exists %}
            <p>Skills used:<br />
            {{ project.skills.all|join:", " }}</p>
        {% endif %}
        <p>
        Project started: {{ project.pub_date|date:"Y-m-d" }}<br />
        Last change: {{ project.change_date|date:"Y-m-d" }}<br />
        Currently {{ project.status|lower }},
        {% if project.seeking == 'No' %}
            not
        {% endif %}
        seeking for help
        </p>
        <p>
        <form action="{% url 'reporting:r_project' project.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="delete" class="red" value="Report project"/>
        </form>
        </p>
    </div>
</div>
{% if user.is_authenticated %}
    {% if project.seeking == 'Yes' and user not in project.users.all %}
        <div class="subcontainer sc_small right">
            <div class="subcontainer_h">
                Work
            </div>
            <div class="subcontainer_c">
                <a href="{% url 'projects:startwork' project.pk %}">Work on this project</a>
            </div>
        </div>
    {% elif user in project.owners.all and user not in project.users.all %}
        <div class="subcontainer sc_small right">
            <div class="subcontainer_h">
                Work
            </div>
            <div class="subcontainer_c">
                <a href="{% url 'projects:startwork' project.pk %}">Work on this</a>
            </div>
        </div>
    {% elif user in project.users.all %}
        <div class="subcontainer sc_small right">
            <div class="subcontainer_h">
                Work
            </div>
            <div class="subcontainer_c">
                <a href="{% url 'projects:finishwork' project.pk %}">Stop working on this</a>
            </div>
        </div>
    {% endif %}
{% endif %}
<div class="subcontainer sc_small right">
    <div class="subcontainer_h">
        Owners
    </div>
    <div class="subcontainer_c">
        <ul>
        {% for u in project.owners.all %}
            <li><a href="{% url 'projects:profilepage' u.pk %}">{{ u }}</a></li>
        {% empty %}
            None
        {% endfor %}
        </ul>
    </div>
</div>
<div class="subcontainer sc_small right">
    <div class="subcontainer_h">
        Workers
    </div>
    <div class="subcontainer_c">
        <ul>
        {% for u in project.users.all %}
            <li><a href="{% url 'projects:profilepage' u.pk %}">{{ u }}</a></li>
        {% empty %}
            None
        {% endfor %}
        </ul>
    </div>
</div>
<div class="subcontainer sc_small right">
    <div class="subcontainer_h">
        Tree
    </div>
    <div class="subcontainer_c">
        <ol>
        {% for array in project.project_tree %}
            {% for b in array %}
                    {% autoescape off %}
                        <li><span class="mono">{{ b.1 }}</span>{% endautoescape %}<a href="{% url 'projects:projectpage' b.0.pk %}">{{ b.0.name }}</a></li>
            {% endfor %}
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
