{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Search
    </div>
    <div class="subcontainer_c">
    <form method="get" action=".">
        <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}" style="width: calc(100% - 55px)" />
        <input type="submit" value="Go" style="width: 50px" />
        <div class="da">
        <p>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Peerwire Responsive -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5757275602398953"
                 data-ad-slot="1400122950"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </p>
        </div>
    </div>
</div>
{% if query %}
    <div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Results
    </div>
    <div class="subcontainer_c">
    <table class="search">
    {% if page.object_list %}
    <tr>
        <td>Name</td>
        <td style="text-align: center">Active</td>
        <td style="text-align: center">Seeking</td>
    </tr>
    {% endif %}
    {% for result in page.object_list %}
        <tr class="hover search">
        <td>
        <a href="{% url 'projects:projectpage' result.object.pk %}" title="{{ result.object.description|truncatewords:30 }}">
            <div class="ellipsis">
                {{ result.object }}
            </div>
        </a>
        </td>
        <td style="background-image: url('{% if result.object.status == 'Active' %}{% static 'yes.svg' %}{% else %}{% static 'no.svg' %}{% endif %}')">
            &nbsp;
        </td>
        <td style="background-image: url('{% if result.object.seeking == 'Yes' %}{% static 'yes.svg' %}{% else %}{% static 'no.svg' %}{% endif %}')">
            &nbsp;
        </td>
        </tr>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
    </table>

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
            {% endif %}
            &laquo; Previous
            {% if page.has_previous %}
                </a>
            {% endif %}
            |
            {% if page.has_next %}
                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
            {% endif %}
            Next &raquo;
            {% if page.has_next %}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
</form>
</div>
</div>
{% endblock %}

