{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Search
    </div>
    <div class="subcontainer_c">
    <form method="get" action=".">
        <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}" style="width: calc(100% - 55px)" />
        <input type="submit" value="Go" style="width: 50px" />
    </div>
</div>
{% if query %}
    <div class="subcontainer sc_small left">
    <div class="subcontainer_h">
        Specify search
    </div>
    <div class="subcontainer_c">
    <table class="search">
    {% if facets.fields.status %}
        <tr><td>
        Status:
        </td>
        {% for status in facets.fields.status %}
            {% if forloop.counter0 != 0 %}
                <tr><td></td>
            {% endif %}
            <td class="right">
            <a href="{{ request.get_full_path }}&amp;selected_facets=status_exact:{{ status.0|urlencode }}">
                {{ status.0 }}
            </a>
            <span style="color: rgb(170,170,170)">
                ({{ status.1 }})
            </span>
            </td></tr>
        {% endfor %}
    {% endif %}
    {% if facets.fields.seeking %}
        <tr><td>
        Seeking:
        </td>
        {% for seeking in facets.fields.seeking %}
            {% if forloop.counter0 != 0 %}
                <tr class="right"><td></td>
            {% endif %}
            <td class="right">
            <a href="{{ request.get_full_path }}&amp;selected_facets=seeking_exact:{{ seeking.0|urlencode }}">
                {{ seeking.0 }}
            </a>
            <span style="color: rgb(170,170,170)">
                ({{ seeking.1 }})
            </span>
            </td></tr>
        {% endfor %}
    {% endif %}
    {% if facets.fields.level %}
        <tr><td>
        Level:
        </td>
        {% for level in facets.fields.level %}
            {% if forloop.counter0 != 0 %}
                <tr class="right"><td></td>
            {% endif %}
            <td class="right">
            <a href="{{ request.get_full_path }}&amp;selected_facets=level_exact:{{ level.0|urlencode }}">
                {{ level.0 }}
            </a>
            <span style="color: rgb(170,170,170)">
                ({{ level.1 }})
            </span>
            </td></tr>
        {% endfor %}
    {% endif %}
    </table>
    </div>
    </div>

    <div class="subcontainer sc_large right">
    <div class="subcontainer_h">
        Results
    </div>
    <div class="subcontainer_c">
    <table class="search">
    {% if page.object_list %}
    <tr>
        <td>Name</td>
        <td style="text-align: center">Active</td>
        <td style="text-align: center">Seeking</td>
    </tr>
    {% endif %}
    {% for result in page.object_list %}
        <tr class="hover search">
        <td>
        <a href="{% url 'projects:projectpage' result.object.pk %}" title="{{ result.object.description|truncatewords:30 }}">
            <div class="ellipsis">
                {{ result.object }}
            </div>
        </a>
        </td>
        <td style="background-image: url('{% if result.object.status == 'Active' %}{% static 'yes.svg' %}{% else %}{% static 'no.svg' %}{% endif %}')">
            &nbsp;
        </td>
        <td style="background-image: url('{% if result.object.seeking == 'Yes' %}{% static 'yes.svg' %}{% else %}{% static 'no.svg' %}{% endif %}')">
            &nbsp;
        </td>
        </tr>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
    </table>

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
            {% endif %}
            &laquo; Previous
            {% if page.has_previous %}
                </a>
            {% endif %}
            |
            {% if page.has_next %}
                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
            {% endif %}
            Next &raquo;
            {% if page.has_next %}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
</form>
</div>
</div>
{% endblock %}

