body {
    background-color: rgb(220,220,220);
    font-family: sans-serif;
}
div#container {
    background-color: rgb(255,255,255);
    border: 1px rgb(200,200,200) solid;
    /* box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3); */
    margin: auto;
    width: 960px;
}
a {
    color: rgb(0,0,0);
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
}
a:hover {
    color: rgb(251,179,0);
    transition: all .3s;
    -webkit-transition: all .3s;
}
div#header {
    background-repeat: no-repeat;
    height: 60px;
    margin-top: 5px;
    width: 100%;
}
div#menu {
    padding: 5px;
}
menu#main_menu {
    margin-bottom: 0px;
    margin-top: 17px;
    padding: 0px;
    text-align: right;
}
menu#main_menu li {
    display: inline;
    margin-left: 15px;
}
div.menu_button {
    display: inline-block;
}
div#account {
    color: rgb(170,170,170);
    display: inline-block;
    font-size: 12px;
    padding-right: 5px;
    text-align: right;
    width: 100%;
}
div#content {
    margin-top: 10px;
    width: 100%;
}
div.subcontainer {
    background-color: rgb(240,240,240);
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}
div.sc_small { width: 250px }
div.sc_large { width: 690px }
div.sc_full { width: 950px }
div.subcontainer_h {
    background-color: rgb(50,50,50);
    border-bottom: 2px rgb(251,179,0) solid;
    color: rgb(230,230,230);
    font-size: 18px;
    padding: 3px;
}
div.subcontainer_c {
    padding: 3px;
}
div.subcontainer_small { padding: 0px !important }
div.col_gray_l { background-color: rgb(240,240,240); padding: 3px }
div.col_gray_d { background-color: rgb(230,230,230); padding: 3px }
div#footer {
    background-color: rgb(50, 50, 50);
    border-top: 2px rgb(251,179,0) solid;
    color: rgb(230,230,230);
    margin-top: 10px;
    width: 100%;
}
div#footer p {
    font-size: 12px;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

