body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
div#container {
    background-color: rgb(255,255,255);
        /* box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3); */
    margin: auto;
    margin-bottom: 40px !important;
}
a {
    color: rgb(0,0,0);
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
}
div.subcontainer_h a, div#footer a {
    color: rgb(230,230,230);
}
div.ul_a a { text-decoration: underline }
a:hover, div.subcontainer_h a:hover, div#footer a:hover {
    color: rgb(251,179,0);
    transition: all .3s;
    -webkit-transition: all .3s;
}
table {
    margin: auto;
    width: 100%;
    max-width: 100%;
}
table.codehilitetable { margin: inherit !important }
tr.hover:hover {
    background-color: rgb(230,230,230);
}
div.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th, td {
    padding: 0px;
    vertical-align: top;
}
table.search tr td {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
li {
    list-style-type: none;
}
input, textarea {
    background-color: rgb(240,240,240);
    border: none;
    outline: none; /* Chrome Fix */
    transition: all .3s;
    -webkit-transition: all .3s;
    width: 100%;
}
input:hover, input:active, textarea:hover, textarea:active {
    background-color: rgb(230,230,230);
    color: rgb(0, 0, 0);
    /* text-shadow: 1px 1px 3px rgba(251, 179, 0, 1); */
}
textarea {
    resize: vertical;
    }
select, textarea {
    width: 100%;
}
select[multiple] {
    overflow: hidden;
}
input[type="checkbox"] {
    width: auto !important;
}
span.helptext { display: none }
div#header {
    background-repeat: no-repeat;
    margin-top: 5px;
    padding-right: 5px;
    width: calc(100% - 5px);
}
div#menu {
    padding-top: 5px;
}
menu#main_menu {
    margin-bottom: 0px;
    padding: 0px;
}
menu#main_menu li {
    display: inline;
}
li.menu_button {
    display: inline-block;
}
ul, ol {
    /* Chrome Fix */
    margin: 0;
    padding: 0;
}
div#account {
    color: rgb(170,170,170);
    display: inline-block;
    font-size: 12px;
    width: 100%;
}
div#content {
    width: 100%;
}
div#messages {
    background-color: rgba(50,255,50,.8);
    color: rgb(255,255,255);
    font-size: 20px;
    margin: 0px !important;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
    top: 0px;
    width: 100%;
}
div.subcontainer {
    background-color: rgb(240,240,240);
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}
div.left { clear: left; float: left }
div.right { clear: right; float: right }
div.subcontainer_h {
    background-color: rgb(50,50,50);
    border-bottom: 2px rgb(251,179,0) solid;
    color: rgb(230,230,230);
    font-size: 18px;
    padding: 3px;
    background: -moz-linear-gradient(top, #323232 0%, #1e1e1e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#1e1e1e));
    background: -webkit-linear-gradient(top, #323232 0%,#1e1e1e 100%);
    background: -o-linear-gradient(top, #323232 0%,#1e1e1e 100%);
    background: -ms-linear-gradient(top, #323232 0%,#1e1e1e 100%);
    background: linear-gradient(to bottom, #323232 0%,#1e1e1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#1e1e1e',GradientType=0 );
}
div.subcontainer_c {
    padding: 3px;
}
div.pure_li li {
    list-style: inherit !important;
    margin-left: 20px; /* Chrome Fix */
}
div.img_width img { max-width: 100%; }
div.avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    float: right;
    margin: 5px;
    height: 100px;
    width: 100px;
}
span.mono { font-family: Inconsolata }
div.ad {
    background-color: white;
    height: 600px;
    margin-top: 10px;
    width: 160px;
}
div.ad_left {
    float: left;
    margin-left: 10px;
}
div.ad_right {
    float: right;
    margin-right: 10px
}
div#footer {
    background-color: rgb(30, 30, 30);
    border-top: 2px rgb(251,179,0) solid;
    bottom: 0px;
    color: rgb(230,230,230);
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    width: 100%;
}

