div#container {
    float: left;
    transition: all .5s;
    -webkit-transition: all .5s;
}
div.sc_small {
    transition: all .5s;
    -webkit-transition: all .5s;
}
div.sc_large {
    transition: all .5s;
    -webkit-transition: all .5s;
}
div.sc_full {
    transition: all .5s;
    -webkit-transition: all .5s;
}
@media screen and (max-width: 599px) {
    body { background-color: rgb(255,255,255) }
    div#container {
        border: none;
        margin: 0px;
        width: 100% !important;
    }
    div#header {
        background-image: url('/static/composite_full_mobile.svg');
        background-position: top center;
    }
    a#home-link {
        font-size: 48px;
        height: 65px;
        left: 0px;
        line-height: 48px;
        position: absolute;
        text-align: center;
        top: 0px;
        width: 100%;
    }
    menu#main_menu { margin-top: 60px; text-align: center }
    menu#main_menu li { margin-left: 0px }
    div#account { text-align: center }
    div#messages { margin: 0px }
    div.subcontainer { margin: 0px; margin-top: 5px }
    div.sc_small { width: 100% }
    div.sc_large { width: 100% }
    div.sc_full { width: 100% }
}
@media screen and (min-width: 600px) {
    body { background-color: rgb(230,230,230) }
    div#container {
        border: 1px rgb(200,200,200) solid;
        margin: 10px;
    }
    div#header {
        background-image: url('/static/composite_full.svg');
        background-position: top left;
    }
    a#home-link {
        font-size: 48px;
        height: 65px;
        left: 11px;
        line-height: 48px;
        position: absolute;
        top: 11px;
        width: 250px;
    }
    menu#main_menu { margin-top: 14px; text-align: right }
    menu#main_menu li { margin-left: 15px }
    div#account { text-align: right }
    div#messages { margin: 5px }
    div.subcontainer { margin: 5px }
    div.sc_small { width: calc(30% - 10px) }
    div.sc_large { width: calc(70% - 10px) }
    div.sc_full { width: calc(100% - 10px) }
}
@media screen and (max-width: 900px){
    div#container { width: calc(100% - 20px) }
    div.ad_right { display: none }
}
@media screen and (min-width: 901px) {
    div#container { width: calc(100% - 192px) }
    div.ad_right { display: block }
}

