body {
    font-family: sans-serif;
    padding: 0px;
}
div#container {
    background-color: rgb(255,255,255);
        /* box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3); */
    margin: auto;
}
a {
    color: rgb(0,0,0);
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
}
div.subcontainer_h a, div#footer a {
    color: rgb(230,230,230);
}
a:hover, div.subcontainer_h a:hover, div#footer a:hover {
    color: rgb(251,179,0);
    transition: all .3s;
    -webkit-transition: all .3s;
}
table {
    width: 100%;
}
td {
    vertical-align: top;
}
li {
    list-style-type: none;
}
input {
    background-color: rgb(240,240,240);
    border: none;
    padding: 5px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
input:hover {
    /* background-color: rgb(230,230,230); */
    color: rgb(251,179,0);
}
div#header {
    background-repeat: no-repeat;
    margin-top: 5px;
    width: 100%;
}
div#menu {
    padding: 5px;
}
menu#main_menu {
    margin-bottom: 0px;
    padding: 0px;
}
menu#main_menu li {
    display: inline;
}
div.menu_button {
    display: inline-block;
}
div#account {
    color: rgb(170,170,170);
    display: inline-block;
    font-size: 12px;
    padding-right: 5px;
    width: 100%;
}
div#newsticker {
    font-size: 12px;
    margin-bottom: 10px;
}
div#content {
    width: 100%;
}
div.subcontainer {
    background-color: rgb(240,240,240);
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}
div.subcontainer_h {
    background-color: rgb(50,50,50);
    border-bottom: 2px rgb(251,179,0) solid;
    color: rgb(230,230,230);
    font-size: 18px;
    padding: 3px;
}
div.subcontainer_c {
    padding: 3px;
}
img.profile_avatar {
    display: block;
    margin: auto;
    max-width: 300px;
    width: 100%;
}
div.mono {
    font-family: Inconsolata, monospace;
}
div#footer {
    background-color: rgb(50, 50, 50);
    border-top: 2px rgb(251,179,0) solid;
    color: rgb(230,230,230);
    float: left;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: calc(100% - 10px);
}

