{% extends 'base.html' %}

{% block title %}Contact - {% endblock %}

{% block content %}
<div class="subcontainer sc_full">
    <div class="subcontainer_h">
        Contact
    </div>
    <div class="subcontainer_c">
        <h3>You can reach us here:</h3>

        <h4>Online</h4>
        <p>
        sulamiification@gmail.com
        </p>

        <h4>Offline</h4>
        <p>
        Peerwire<br />
        Robin Schroer<br />
        Landshuter Str. 10<br />
        47249 Duisburg<br />
        Germany
        </p>

    </div>
</div>
{% endblock %}

